{% extends "base_webpage.html.jinja" %}

{% block main_content %}
/* simple_webpage main_content block */
<div class="long-text container max-w-3xl mx-auto bg-white py-8 px-6 md:px-16 md:shadow-lg">
  {% block page_title %}
  <h1 class="text-center text-4xl mt-6 mb-6">{{ title }}</h1>
  {% endblock page_title %}
  
  <div>
    {% block page_content %}
    {% if thumbnail_url %}
    <img class="thumbnail" src="{{ thumbnail_url }}" alt="{{ title }}" />
    {% endif %}
    <div class="content">
      {{ content_html | safe }}
    </div>
    {% endblock page_content %}
  </div>
</div>
{% endblock main_content %}